<ion-view view-title="My Friends">
  <ion-content padding="1">
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          If you want your friends to be able to sync your pinboard, you need to give them your id (<strong>{{own_id}}</strong>) and public key.<br>
          <textarea ng-model="public_key" style="width: 100%;" rows="4"></textarea>
          Alternativly, just <a href="#" ng-click="openModal();">add them
          on your own</a>!
        </p>
      </div>
    </div>


    <div class="list">
      <a class="item item-avatar" ng-repeat="friend in friends track by $index" ng-href="#/tab/friends/{{friend.id}}">
        <img src="img/avatar.jpg">
        <h2>{{friend.name}}</h2>
        <p>({{friend.id}})</p>
      </a>
    </div>
        <button class="button button-full button-positive" ng-click="openModal();">
      Add new..
    </button>
    <script id="add-friend-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Add new friend</h1>
        </ion-header-bar>
        <ion-content>
          <label class="item item-input item-stacked-label">
            <span class="input-label" >ID</span>
            <input type="text" placeholder="ID" ng-model="new_friend.id">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Display name</span>
            <input type="text" placeholder="Name"  ng-model="new_friend.name">
          </label>
          <label class="item item-input">
            <textarea placeholder="Public key" ng-model="new_friend.public_key"></textarea>
          </label>
          <button class="button button-full button-positive" ng-click="addFriend();" id="add-friend">
            Add
          </button>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
